# Datasets / mídia
XAI/data/aplicaçãoXAI
**/angry/
**/disgust/
**/fear/
**/happy/
**/neutral/
**/sad/
**/surprise/
*.jpg
*.jpeg
*.png

# Outputs grandes
**/results/
**/heatmaps/
**/logs/

# Modelos/pesos grandes
Training/Models/
**/Training/Models/
*.safetensors
*.bin
*.pt
*.pth
*.ckpt
*.onnx


# Python/IDE
venv/
.env/
__pycache__/
*.pyc
.ipynb_checkpoints/
**.idea/
.vscode/

