# Datasets / mídia
XAI/data/aplicaçãoXAI
**/angry/
**/disgust/
**/fear/
**/happy/
**/neutral/
**/sad/
**/surprise/
*.jpg
*.jpeg
*.png

# Outputs grandes
**/results/
**/heatmaps/
**/logs/
**/Training/
**/Models/

# Python/IDE
venv/
.env/
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/
.vscode/

